@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');
@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: 'Inter', sans-serif;

  background: linear-gradient(
    135deg,
    #f8fafc,
    #eff6ff,
    #eef2ff
  );

  min-height: 100vh;
}